body{
width: 1400px;

}



main{
  float: left;
  color: black;
  text-align: center;
  background-color: blue;
  display:inline-block;
  width: 800px;
}
Header{
  color: white;
  background-color: black;
  height: 200px;
  text-align: center;
}
aside{
  float: right;
  background-color: yellow;
  height:200;
  display:inline-block;
  width:600px;
}
footer{
  float:right;
  background-color: orange;
  width: 1400px;
  height: 100px;
}
